* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    padding-top: 70px;
}

header {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
 
}
.navbar {
    background-color: #ff4747;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
    position: fixed;
}
.navbar-brand {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 35px;
    padding: 0 40px;
    font-weight: bold;
}
.navbar-nav {
    display: flex;
    justify-content: end;
    list-style: none;
    margin-right: 30px;
    padding-top: 10px;
    font-weight: bold;
}
.navbar-nav a {
    border-radius: 3px;
    margin-right: 0 5px;
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}

.navbar-nav a:hover, a:active {
    background-color: rgba(255, 255, 255, 0.637);
    transition: .4s;
}

.button-turno {
    padding: 10px 20px;
    border-radius: .25rem;
    background-color: #ff0000;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 1px 5px 0 rgba(0, 0, 0, 0.12);
    color: #fff;
    height: 50px;
    line-height: 2.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
  }

.header {
    background-image: url("imagenes/header.jpg"); 
    background-size: cover;
    background-position: center;
}

.container-inicio {
    height: 100vh;
    font-size: 30px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	text-align: center;
    letter-spacing: 4px;
    background-color: #b1dff593;
    text-shadow: 2px 2px 2px rgb(168, 168, 168);
}

.color {
    font-family: 'Poppins', sans-serif;
    color: #ff0000;
    font-weight: bolder;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 90px;
}

.requisitos {
    padding-top: 80px;
}

.container-requisitos {
    background-color: white;
    color: grey;
    width: 100%;
    display: flex;
    justify-content: center;
}

.foto1 {
    width: 90%;
    margin-left: 5px;
}

.requisitos {
    line-height: 21px;
    margin-top: 20px;
    padding: 30px;
    text-align: justify
}


.video-tipos {
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
}

.container-tipos {
    padding-top: 20px;
    width: 100%;
    color: grey;
    gap: 10px;
    display: flex;
    justify-content: center;
   
} 
.card-tipos {
    width: 320px;
    height: 550px;
    line-height: normal;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    margin: 10px;
    text-align: justify; 
    transition: all 0.25s;
}

.card-tipos:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 16px rgba(196, 235, 250, 0.37);
}

h4 {
    padding-top: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.imgcard {
    width: 100%;
    padding: 10px 0px;
}

.descripcion {
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
}

.container-voluntarios {
    width: 100%;
    padding: 20px 10px;
    color: grey;
    display: flex;
    justify-content: center;
}
.card-vol {
    width: 330px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    margin: 10px; 
    text-align: center;
    background-image: url("imagenes/fondo.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.img-perfil {
    width: 10rem;
    margin-top: 2rem;
}
.nombre-vol {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.tipo-vol {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 858px) {
    .flex-container {
        display: flex;
        flex-direction: column;
    }  
}

.flex-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
}

.form-img {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-img img {
    width: 90%;
    height: auto;
}

.form-input {
    width: 100%;
    padding: 7px;
    margin: 12px 0;
    border: none;
    border-bottom: 3px solid #ff4800;
    border-radius: 20px;
    outline: none;
    color: rgb(88, 88, 88);
}
.form-input:focus {
    background: linear-gradient(to bottom, transparent, #fac1c179);
    outline: none;
    border-bottom: 3px solid #f86b33;
}
.form textarea {
    min-height: 150px;
    resize: none;
}
.form {
    min-width: 400px;
    flex: 1;
    text-align: center;
    padding: 50px;
}
.form-input [type="submit"] {
    background-color: #ff4800;
    border-bottom: none;
    padding: 12px;
}
.form-input [type="submit"]:hover {
    background-color: #f86b33;
    border-bottom: none;
    padding: 12px;
}
.form-input [type="submit"]:focus {
    background: #9efaf5;
}
.form-input [type="submit"]:active {
    background: linear-gradient(to bottom, #ffffff, #9fecfa);
}

.legales {
    background-color: #fd3030cb;
    color: #ffffff;
    text-align: center;
    padding: 10px;   
}
.legales h4 {   
    text-transform: uppercase;
    font-size: 15px;
}
.legales h5 {
    font-size: 15px;
}